#browser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px 0;
    text-align: center;
}

#browser .content {
}

#browser .content .stars-logo {
    background: url('../images/logo.png') no-repeat;
    width: 150px;
    height: 110px;
    background-size: 150px;
    margin: 0 auto 35px;
}

#browser .content .brand-heading {
    font-size: 50px;
}

#browser .content .intro-text {
    font-size: 18px;
}

#browser .content .browser-links {
}

#browser .content .browser-links-item {
    margin-bottom: 0.5rem;
}

@media (min-width: 922px) {
    #browser .content .brand-heading {
        font-size: 100px;
    }

    #browser .content .intro-text {
        font-size: 26px;
    }
}
